.reveal h2 { padding-top:4em !important; text-align:center; font-size:1.6em !important; }

.reveal section img.right { float:right; margin-left:20px; }
.reveal section .right {text-align:right;}
.reveal section .center {text-align:center;}


.reveal section div.box { padding:.3em .6em;background-color:#ddd;border-radius:7px;font-family:'Roboto', sans-serif; }

.reveal section div.box h6 { text-align:center;font-family:raustila,sans-serif;color:#666;margin-bottom:.6em;font-size:1.2em; }

hr { border-top:none !important; border-bottom: solid 2px #eee; }